* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #eaeaea;
}

.header-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;

}

.main-header {
    background-color: #e60014;
    width: 100%;
    
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.30rem 11%;
}

.search-box {
    background-color: #FFFFFF;
    height: 3rem;
    width: 36rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem 0 1rem;
}

#logo {
    height: 1.79rem;
    width: auto;
    margin-right: 3.5rem;
}

.search-box input {
    outline: none;
    border: none;
    color: #666;
}

#lupa {
    height: 2rem;
    width: auto;
}

.user-icon-container {
    display: flex;
    align-items: center;
    width: 11.25rem;
    gap: .5rem;
    margin-right: 1rem;
}

.user-icon-container img {
    height: 2.4rem;
    width: auto;
}
.user-icon-container p {
    color: #FFFFFF;
    font-family: Arial,sans-serif;
    font-size: 0.9rem;
    line-height: 1.1rem;
}

.icons {
    display: flex;
    gap: 2rem;
}
.store {
    height: 2.2rem;
    width: 2.2rem;
}

.heart {
    height: 1.9rem;
    width: 1.9rem;
}

.basket {
    height: 2.2rem;
    width: 2.2rem;
}

.sub-links {
    color: #FFFFFF;
    font-size: .875rem;
    font-family: Arial, sans-serif;
    padding: 0 13.5% 0 11%;
    
    display: flex;
    justify-content: space-between;
}

.sub-links div:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-links {
    display: flex;
    
}

.main-links a {
    text-decoration: none;
    color: inherit;
    padding: .7rem .5rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.main-links a:hover {
    background-color: rgba(0, 0, 0, 0.200);
}

.main-links a:last-child{
    font-weight: 600;
    display: flex;
    
    align-items: center;
    gap: .5rem;
}
.a {
    height: .875rem;
    width: auto;
    margin-top: .1rem;
}

.departamentos-links {
    width: 100%;
    height: 2.79rem;
    padding: 0 10% 0 8%;
    display: flex;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

.drop-menu {
    display: flex;
    /*padding: .5rem 0.5rem; */
    padding: 1rem;
}

.burger div {
    height: 1.5px;
    width: 21px;
    background-color: #e60014;
}
.burger div:nth-child(2){
    margin: 5px 0;
}

.drop-menu span {
    margin: 0 .2rem 0 .55rem;
    color: #e60014;
    font-weight: 700;
    font-size: .875rem;
    
}
#arrow-down {
    transform: rotate(90deg);
}

.departamentos-links a {
    text-decoration: none;
    color: #666;
    padding: .9rem 1rem;
    font-size: .875rem;

}

.main-content {
    margin: 0 auto;
    width: 78.125rem;
}

.main-content img {
    width: 100%;
    margin: .1rem 0;
}

.carrossel {
    width: 100%;
    height: 19.56rem;
    position: relative;
    margin-top: .7rem;
}

.arrow{
    position: absolute;
    top: 50%;
    height: 4rem;
    width: 4rem;
    border-radius: 2rem;
    background-color:#FFFFFF;
    opacity: .6;
    display: grid;
    place-items: center;
    transition: opacity .1s;
    font-size: 0;
}
.arrow img {
    height: 1.5rem;
    width: 1.5rem;

}
.arrow:first-child img{
    transform: translateX(20%);
}
.arrow:last-child img{
   transform: translateX(-20%);
}
.arro div {
    display: inline-block;
    height: 1.1rem;
    width: 1.1rem;
    border-top: .3rem solid red;
    border-right: .3rem solid red;
    transform: rotate(45deg);
}
.arrow:hover {
    opacity: 1;
    background-color: #cccccc;
}

.left-arrow {
    left: 0;
    transform: translate(-50%,-50%);
    
}

.right-arrow {
    right: 0;
    transform: translate(50%,-50%);

}

.terceiro-banner {
    display: flex;
    justify-content: space-around;
    
    margin-top: 1.1rem;
}
.terceiro-banner img {
    width: 38.375rem;
}

.quarto-banner{
    margin: 1rem auto;
    width: 77.4rem;
}